@{
    var q = string.Empty;
    if (!string.IsNullOrWhiteSpace(Context.Request.Query["q"]))
    {
        q = Context.Request.Query["q"];

    }
}
<form asp-controller="Media" asp-action="Index" method="get" >
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..." value="@q">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>
