
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Famework.Backoffice</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link href="~/Areas/Backoffice/Static/AdminLTE/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link href="~/Areas/Backoffice/Static/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/Areas/Backoffice/Static/AdminLTE/dist/css/skins/_all-skins.css" rel="stylesheet" />
        <link href="~/Areas/Backoffice/Static/AdminLTE/plugins/morris/morris.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">

    </environment>
    @RenderSection("headscripts", required: false)
</head>
<body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">

            <section class="content">
                @RenderBody()
            </section>
   
        </div>


    <environment names="Development">
        <script src="~/Areas/Backoffice/Static/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>

        <script src="~/Areas/Backoffice/Static/AdminLTE/plugins/jQueryUI/jquery-ui.js"></script>

        <script src="~/Areas/Backoffice/Static/AdminLTE/bootstrap/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

        <script src="~/Areas/Backoffice/Static/AdminLTE/plugins/morris/morris.js"></script>
        <script src="~/Areas/Backoffice/Static/AdminLTE/dist/js/app.js"></script>

    </environment>
    <environment names="Staging,Production">

    </environment>

    @RenderSection("bottomscripts", required: false)
</body>
</html>
