@model Borg.Infra.Relational.IPagedResult<Borg.Framework.Backoffice.Pages.Data.SimplePage>
@section contentheader
{
    <section class="content-header">
    <h1>
        @Content.Page.Title
        <small>@Content.Page.Subtitle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
}


<strong> body</strong>