
@using Borg.Framework.GateKeeping.Models
@using Borg.Framework.GateKeeping.Models.UserViewModels
@using Microsoft.AspNetCore.Identity

@model BorgUser
@inject UserManager<BorgUser> _manager
@{
    var avatar = (!string.IsNullOrWhiteSpace(Model.AvatatUrl())) ? Model.AvatatUrl() : Settings.Backoffice.Application.Logo;
    var avatarViewModel = new UserAvatarViewModel() {UserAvatarUrl = avatar, UserId =await _manager.GetUserIdAsync(Model), UserName = Model.UserName};
}
@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header">
                <h4 class="box-title">@Model.UserName</h4>
            </div>

                @await Html.PartialAsync("Partials/UserAvatar", avatarViewModel)

            <div class="box-footer">
                
                

            </div>

        </div>
    </div>
</div>
