
@using Borg.Framework.GateKeeping.Models
@using Microsoft.AspNetCore.Identity

@model BorgUser
@inject UserManager<BorgUser> _manager
@{
    var avatar = (!string.IsNullOrWhiteSpace(Model.AvatatUrl())) ? Model.AvatatUrl() : Settings.Backoffice.Application.Logo;

}
@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header">
                <h4 class="box-title">@Model.UserName</h4>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><img src="@avatar" class="img img-responsive img-bordered-sm" /></div>
                        <div class="col-md-10"></div>
                    </div>
                    

                    
                </div>
            </div>
            <div class="box-footer">
                
                

            </div>

        </div>
    </div>
</div>
