@using Borg
@using Borg.Framework.Backoffice.Identity.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Routing
@model Borg.Framework.Backoffice.Identity.Models.BorgUser
@inject UserManager<BorgUser> _manager
@{
    var controller = Context.GetRouteValue("controller");
    var action = Context.GetRouteValue("action");

}
@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="box box-default">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-6">
                        @if (!Model.LockoutEnabled)
                        {
                            <button class="btn btn-success disabled btn-lg">On</button>
                            <button class="btn btn-danger">Off</button>
                        }
                    </div>
                    <div class="col-md-6">
                        @if (Model.LockoutEnabled)
                        {
                            <button class="btn btn-success">On</button>
                            <button class="btn btn-danger disabled btn-lg">Off</button>
                        }
                    </div>
                </div>
            </div>


            <div class="box-body">
                @( string.Join(", ", (await _manager.GetRolesAsync(Model))))
            </div>
            <div class="box-footer">

            </div>

        </div>
    </div>
</div>
