@model AssetSpec
@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-md-5">
        @Html.Partial("Partials/AssetSpec")
    </div>
    <div class="col-md-7">
        @Html.Partial("Partials/AssetVersions")
    </div>
</div>