@model UploadAssetViewModel
@section contentheader
{
    <section class="content-header">
        <h1>
            @Content.Page.Title
            <small>@Content.Page.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div class="box">
            <form asp-controller="Media" asp-action="NewFile" method="post" enctype="multipart/form-data">
                <div class="box-header">
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>

                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="File" class="control-label"></label>

                        <input asp-for="File" type="file" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger box-footer"></div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default pull-right">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>