

@using Borg.Framework.GateKeeping.Account
@model Borg.Framework.GateKeeping.Account.LoggedOutViewModel
@inject BorgSettings _settings
@{
    Layout = "_EmptyLayout";
    // set this so UI rendering sees an anonymous user
    Context.User = new System.Security.Claims.ClaimsPrincipal(new System.Security.Claims.ClaimsIdentity());
}
<div class="row">
    <div class="col-md-12">


        <img src="@_settings.Backoffice.Application.Logo" class="img-responsive center-block margin-bottom" alt="borg logo" />

    </div>

    <div class="col-md-4 col-md-offset-4">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@Content.Page.Title</h3>
            </div>
            <div class="box-body">
                You have been logged out.
            </div>
            @if (Model.PostLogoutRedirectUri != null)
            {
                <div class="box-footer">
                    Click <a asp-controller="Home" asp-action="Index" asp-area="backoffice"  >here</a> to return to the
                    <span>@_settings.Backoffice.Application.Title</span> application.
                </div>
            }
        </div>
    </div>
</div>




    @if (Model.SignOutIframeUrl != null)
            {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }


@section bottomscripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
